
.settings_header{
    font-family: Arial;
    font-size: 16px;
}

.mission_text{
    font-family: Arial;
    font-size: 16px;
}

.keypad_key{
    font-family: Arial;
    font-size: 18px;
}

.keypad_enter{
    font-family: Arial;
    font-size: 16px;
}

.keypad_close{
    font-family: Arial;
    font-size: 16px;
}

.font-bold{
    font-weight: bold;
}

.font-10 {
    font-family: Arial;
    font-size: 10px;
}

.font-12 {
    font-family: Arial;
    font-size: 12px;
}

.font-14 {
    font-family: Arial;
    font-size: 14px;
}

.font-16 {
    font-family: Arial;
    font-size: 16px;
}

.font-18 {
    font-family: Arial;
    font-size: 18px;
}

.font-20 {
    font-family: Arial;
    font-size: 20px;
}

.font-22 {
    font-family: Arial;
    font-size: 22px;
}

.font-24 {
    font-family: Arial;
    font-size: 24px;
}

.font-26 {
    font-family: Arial;
    font-size: 26px;
}

.font-28 {
    font-family: Arial;
    font-size: 28px;
}

.font-30 {
    font-family: Arial;
    font-size: 30px;
}

.font-32 {
    font-family: Arial;
    font-size: 32px;
}

.font-34 {
  font-family: Arial;
  font-size: 34px;
}

.font-36 {
  font-family: Arial;
  font-size: 36px;
}

.font-38 {
  font-family: Arial;
  font-size: 38px;
}

.font-40 {
  font-family: Arial;
  font-size: 40px;
}